
<%- include("partials/header") %>

<h1>All blogs</h1>

<% blogs.forEach(function(blog){ %>

    <div class="media">
        <img src="<%= blog.image %>" class="img-responsive align-self-center mr-3" >
        <div class="media-body">
            <h2 class="mt-0"><%= blog.title %></h2>
            <span><%= blog.created %></span>
            <p><%= blog.body.substring(0, 50) %>...</p>
            <p class="mb-0"><a href="/blogs/<%= blog._id %>">Read more</a></p>
        </div>
    </div>
    <hr>

<% }) %>
<%- include("partials/footer") %>